{% extends 'shortit/base.html' %}
{% block title %}شرایط و قوانین{% endblock title %}
{% block content %}
<br>
<h2 style="color: white;"> &lt&lt شرایط و قوانین &gt&gt </h2>
<article class="arti">
    <p style="margin-bottom: 10px;">
        کوتاه کننده لینک، فقط یک ارجاع دهنده است و در قبال متحئای لینک ها مسولیتی ندارد.
    </p>
    <p style="margin-bottom: 10px;">
جهت حفظ کیفیت سایت و امنیت کاربران، لینک به صفحات غیرقانونی، صفحات انتقالی (ریدایرکت)، لینک دانلود مستقیم اپلیکیشن و صفحات مسدود یا ناموجود، به محض مشاهده حذف خواهد شد.
انتخاب الفاظ غیراخلاقی بعنوان آدرس کوتاه و هر گونه سوء&zwnj;استفاده از امکانات سایت ممنوع بوده و صرف&zwnj;نظر از مقصد، لینک مورد نظر حذف می&zwnj;گردد.
در نظر داشته باشید لینک&zwnj;های ایجاد شده غیر قابل ویرایش است؛ بنابراین دقت لازم را پیش از ایجاد لینک کوتاه به عمل آورید.
استفاده از این سایت به معنای پذیرش قوانین آن است و این قوانین ممکن است در آینده اصلاح و یا تکمیل شود.

    </p>
</article>
{% endblock content %}
